:root {
  --blanco: white;
  --color-medium: #333;
  --color-oscuro: #1e1e1e;
  --shadow: rgba(0, 0, 0, 0.75);
  ----verde: #7ac943;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  font-size: 62.5%;
  list-style: none;
}

body, header, section, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-medium);
  width: 100%;
}

.skip-link {
  height: 0;
}
.skip-link:focus,
.skip-link:active {
  background: var(----verde);
  border-radius: 5px;
  color: var(--color-oscuro);
  height: auto;
  margin: 16px 0 8px;
  padding: 8px;
  text-decoration: none;
  font-size: 1.6rem;
  border: 5px solid var(--color-oscuro);
  outline: 3px solid var(----verde);
}

ul {
  list-style: none;
}

i {
  color: var(----verde);
  font-size: 3.2rem;
}


.header-img {
  border-radius: 50%;
  border: 1px solid var(--color-oscuro);
  box-shadow: 8px 16px 32px 0 var(--shadow);
  height: 300px;
  margin-top: 80px;
  width: 300px;
}
.title {
  color: var(--blanco);
  font-size: 5.5rem;
  margin-top: 16px;
}

.header-subtitle {
  color: var(----verde);
  font-size: 2.4rem;
}

nav {
  width: 100%;
}

.header-navigation{
  width: 50%;
  color: var(--blanco);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 33%;
  height: 30px;
}

.nav-item a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.6rem;
}

.nav-item:hover,
.nav-item:hover a {
  background-color: var(----verde);
  color: black;
}

.nav-item:focus-within {
  background-color: var(----verde);
}

.nav-item a:focus {
  outline: none;
  color: var(--color-oscuro);
}

.intro {
  font-size: 1.6rem;
  color: var(--blanco);
  text-align: center;
  margin: 24px 196px 0;
}

.social-media {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 32px auto 0;
  width: 50%;
}

.social-media li a {
  align-items: center;
  display: flex;
  color: var(--blanco);
  text-decoration: none;
}

.social-media li a:focus{
  outline: none;
}

.social-media li:focus-within {
  outline: 3px solid var(----verde);
  padding: 8px;
  border-radius: 5px;
}

.social-link-text {
  font-size: 1.6rem;
  padding-left: 8px;
}

.carousel {
  align-items: center;
  display: flex;
  margin: 48px 0 64px;
}

.window {
  overflow: hidden;
  width: 820px;
  padding: 10px;
}

.project-container {
  left: 0;
  position: relative;
  width: 1500px;
}

.project-container li {
  display: inline-block;
}

.project-container button {
  background: none;
  border: none;
  padding: 0;
}

.project-container button:focus-within {
  outline: 5px solid var(----verde);
}

.project-img {
  border-radius: 5px;
  border: 5px solid black;
  display: inline-block;
  height: 200px;
  margin: 0 8px;
  transition: all 0.2s ease-in-out;
  width: 250px;
  object-fit: cover;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
  height: auto;
}

.arrow {
  height: 50px;
  width: 50px;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-left {
  background-color: var(--color-oscuro);
  border-radius: 50%;
}

.arrow-right {
  background-color: var(--color-oscuro);
  border-radius: 50%;
}

.arrow:focus {
  outline: 3px solid var(----verde);
}

.contact-section {
  align-items: center;
  background-color: var(--color-oscuro);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}


.form-label,
.message-input {
  color: var(----verde);
  font-size: 1.8rem;
  margin: 10px 0;
}

.message-input input {
  height: 150px;
  margin: 16px 0;
}

input {
  width: 100%;
}

input:focus {
  outline: 3px solid var(----verde);
  padding: 8px;
}

.send-button,
.modal-button {
  align-items: center;
  background-color: var(----verde);
  border-radius: 5px;
  color: var(--color-oscuro);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 48px;
  width: 150px;
  margin-left: auto;
  font-size: 16px;
  cursor: pointer;
}

.send-button:focus,
.modal-button:focus {
  border: 5px solid var(--color-oscuro);
  outline: 3px solid var(----verde);
}